<section id="social-share">
  <span>Compartilhe: </span>
  <a href="https://twitter.com/intent/tweet?text={{ page.title | strip_html | url_encode }}&url={{ page.url | absolute_url | url_encode }}"
    class="btn inline" title="Compartilhe no Twitter">
    <span class="fa-stack fa-lg" aria-hidden="true">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
    <span class="sr-only">Twitter</span>
  </a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}" class="btn"
    title="Compartilhe no Facebook">
    <span class="fa-stack fa-lg" aria-hidden="true">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
    </span>
    <span class="sr-only">Facebook</span>
  </a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}" class="btn"
    title="Compartilhe no LinkedIn">
    <span class="fa-stack fa-lg" aria-hidden="true">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
    <span class="sr-only">LinkedIn</span>
  </a>

</section>