---
layout: base
---

{% include header.html type="note" %}

<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="col-xl">
      <article>
        <div id="notes-entry-container">
            {{ content }}
        </div>
      </article>
    </div>
    <div class="col-xl-4" >
      <h2 class="text-center">Notas relacionadas</h2>
      {% include backlinks.html %}
      <h2 class="text-center">Navegue pela floresta</h2>
      {% include notes_graph.html %}
      {% include link-previews.html wrapperQuerySelector="content" %}
    </div>
  </div>
</div>